*.txt
.DS_Store
.prettierrc
config.js
manifest.json
export*.json
client_secret*
mind-diet*.json
*.diff
*.log
*.tmp
*.bak
scratch/*
archive/*
@eaDir/*
screenshots/@eaDir/*
core/@eaDir/*
utils/@eaDir/*
ui/@eaDir/*
cloudProviders/@eaDir/*
cloudSync/@eaDir/*
cloudSync/tests/*
cloudSync/*.md
cloudSync/utils/@eaDir/*
cloudSync/tests/@eaDir/*
cloudSync/mergeStrategies/@eaDir/*
cloudSync/services/@eaDir/*
